@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #050505;
  color: white;
}

.gradient-text {
  background: linear-gradient(to right,
      #ffffff,
      #7dd3fc);

  -webkit-background-clip: text;
  color: transparent;
}

.glass {
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.08);
}

.section-container {
  max-width: 1280px;
  margin: auto;
  padding-left: 24px;
  padding-right: 24px;
}